Scrapping Data Form a Website and creating a DataFrame

In [1]:
from bs4 import BeautifulSoup 
import requests

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'

In [3]:
page= requests.get(url)

In [4]:
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 6.3; Win64; x64) "
                  "AppleWebKit/537.36 (KHTML, like Gecko) "
                  "Chrome/120.0.0.0 Safari/537.36",
    "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8",
    "Accept-Language": "en-US,en;q=0.5",
    "Connection": "keep-alive"
}
page=requests.get('https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue',headers=headers).text

In [5]:
soup = BeautifulSoup(page, 'lxml')

In [6]:
soup.find('h1').text

'List of largest companies in the United States by revenue'

In [7]:
#soup.find('table')

In [8]:
soup.find('table',class_='wikitable sortable jquery-tablesorter')

In [9]:
table = soup.find_all('table')[1]

In [10]:
print(table)

<table class="wikitable sortable">
<tbody><tr>
<th>Rank
</th>
<th>Name
</th>
<th>Industry
</th>
<th>Revenue <br/>(USD billions)
</th>
<th>Employees
</th>
<th>Headquarters
</th></tr>
<tr>
<td>1
</td>
<td><a href="/wiki/Cargill" title="Cargill">Cargill</a>
</td>
<td>Food industry
</td>
<td style="text-align:center;">154
</td>
<td style="text-align:center;">155,000
</td>
<td><a href="/wiki/Minnetonka,_Minnesota" title="Minnetonka, Minnesota">Minnetonka, Minnesota</a>
</td></tr>
<tr>
<td>2
</td>
<td><a class="mw-redirect" href="/wiki/Koch_Industries" title="Koch Industries">Koch</a>
</td>
<td>Multicompany
</td>
<td style="text-align:center;">125
</td>
<td style="text-align:center;">120,000
</td>
<td><a href="/wiki/Wichita,_Kansas" title="Wichita, Kansas">Wichita, Kansas</a>
</td></tr>
<tr>
<td>3
</td>
<td><a class="mw-redirect" href="/wiki/Publix_Super_Markets" title="Publix Super Markets">Publix Super Markets</a>
</td>
<td>Food Markets
</td>
<td style="text-align:center;">59.7
</td>
<td style="text-align:center;">260,000
</td>
<td><a href="/wiki/Lakeland,_Florida" title="Lakeland, Florida">Lakeland, Florida</a>
</td></tr>
<tr>
<td>4
</td>
<td><a class="mw-redirect" href="/wiki/Mars,_Incorporated" title="Mars, Incorporated">Mars</a>
</td>
<td>Food &amp; Drink
</td>
<td style="text-align:center;">55
</td>
<td style="text-align:center;">150,000
</td>
<td><a href="/wiki/McLean,_Virginia" title="McLean, Virginia">McLean, Virginia</a>
</td></tr>
<tr>
<td>5
</td>
<td><a href="/wiki/H-E-B" title="H-E-B">H-E-B Grocery Company</a>
</td>
<td>Food Markets
</td>
<td style="text-align:center;">49.57
</td>
<td style="text-align:center;">175,000
</td>
<td><a class="mw-redirect" href="/wiki/San_Antonio,_Texas" title="San Antonio, Texas">San Antonio, Texas</a>
</td></tr>
<tr>
<td>6
</td>
<td><a href="/wiki/Reyes_Holdings" title="Reyes Holdings">Reyes Holdings</a>
</td>
<td>Food, Drink &amp; Tobacco
</td>
<td style="text-align:center;">44
</td>
<td style="text-align:center;">36,000
</td>
<td><a href="/wiki/Rosemont,_Illinois" title="Rosemont, Illinois">Rosemont, Illinois</a>
</td></tr>
<tr>
<td>7
</td>
<td><a class="mw-redirect" href="/wiki/Enterprise_Mobility" title="Enterprise Mobility">Enterprise Mobility</a>
</td>
<td>Services
</td>
<td style="text-align:center;">38
</td>
<td style="text-align:center;">100,000
</td>
<td><a href="/wiki/Clayton,_Missouri" title="Clayton, Missouri">Clayton, Missouri</a>
</td></tr>
<tr>
<td>8
</td>
<td><a href="/wiki/Fidelity_Investments" title="Fidelity Investments">Fidelity Investments</a>
</td>
<td>Insurance
</td>
<td style="text-align:center;">32.7
</td>
<td style="text-align:center;">78,000
</td>
<td><a href="/wiki/Boston" title="Boston">Boston, Massachusetts</a>
</td></tr>
<tr>
<td>9
</td>
<td><a href="/wiki/Southern_Glazer%27s_Wine_and_Spirits" title="Southern Glazer's Wine and Spirits">Southern Glazer's Wine &amp; Spirits</a>
</td>
<td>Food, Drink &amp; Tobacco
</td>
<td style="text-align:center;">25
</td>
<td style="text-align:center;">24,000
</td>
<td><a href="/wiki/Miramar,_Florida" title="Miramar, Florida">Miramar, Florida</a>
</td></tr>
<tr>
<td>10
</td>
<td><a href="/wiki/Cox_Enterprises" title="Cox Enterprises">Cox Enterprises</a>
</td>
<td>Media
</td>
<td style="text-align:center;">23.5
</td>
<td style="text-align:center;">50,000
</td>
<td><a href="/wiki/Atlanta" title="Atlanta">Atlanta, Georgia</a>
</td></tr></tbody></table>

In [11]:
world_titles = table.find_all('th')

In [12]:
world_titles

[<th>Rank
 </th>,
 <th>Name
 </th>,
 <th>Industry
 </th>,
 <th>Revenue <br/>(USD billions)
 </th>,
 <th>Employees
 </th>,
 <th>Headquarters
 </th>]

In [13]:
world_table_titles = [title.text.strip() for title in world_titles]
print(world_table_titles)

['Rank', 'Name', 'Industry', 'Revenue (USD billions)', 'Employees', 'Headquarters']

In [14]:
import pandas as pd

In [15]:
df = pd.DataFrame(columns = world_table_titles)
df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD billions), Employees, Headquarters]
Index: []

In [16]:
table.find_all('tr')

[<tr>
 <th>Rank
 </th>
 <th>Name
 </th>
 <th>Industry
 </th>
 <th>Revenue <br/>(USD billions)
 </th>
 <th>Employees
 </th>
 <th>Headquarters
 </th></tr>,
 <tr>
 <td>1
 </td>
 <td><a href="/wiki/Cargill" title="Cargill">Cargill</a>
 </td>
 <td>Food industry
 </td>
 <td style="text-align:center;">154
 </td>
 <td style="text-align:center;">155,000
 </td>
 <td><a href="/wiki/Minnetonka,_Minnesota" title="Minnetonka, Minnesota">Minnetonka, Minnesota</a>
 </td></tr>,
 <tr>
 <td>2
 </td>
 <td><a class="mw-redirect" href="/wiki/Koch_Industries" title="Koch Industries">Koch</a>
 </td>
 <td>Multicompany
 </td>
 <td style="text-align:center;">125
 </td>
 <td style="text-align:center;">120,000
 </td>
 <td><a href="/wiki/Wichita,_Kansas" title="Wichita, Kansas">Wichita, Kansas</a>
 </td></tr>,
 <tr>
 <td>3
 </td>
 <td><a class="mw-redirect" href="/wiki/Publix_Super_Markets" title="Publix Super Markets">Publix Super Markets</a>
 </td>
 <td>Food Markets
 </td>
 <td style="text-align:center;">59.7
 </td>
 <td style="text-align:center;">260,000
 </td>
 <td><a href="/wiki/Lakeland,_Florida" title="Lakeland, Florida">Lakeland, Florida</a>
 </td></tr>,
 <tr>
 <td>4
 </td>
 <td><a class="mw-redirect" href="/wiki/Mars,_Incorporated" title="Mars, Incorporated">Mars</a>
 </td>
 <td>Food &amp; Drink
 </td>
 <td style="text-align:center;">55
 </td>
 <td style="text-align:center;">150,000
 </td>
 <td><a href="/wiki/McLean,_Virginia" title="McLean, Virginia">McLean, Virginia</a>
 </td></tr>,
 <tr>
 <td>5
 </td>
 <td><a href="/wiki/H-E-B" title="H-E-B">H-E-B Grocery Company</a>
 </td>
 <td>Food Markets
 </td>
 <td style="text-align:center;">49.57
 </td>
 <td style="text-align:center;">175,000
 </td>
 <td><a class="mw-redirect" href="/wiki/San_Antonio,_Texas" title="San Antonio, Texas">San Antonio, Texas</a>
 </td></tr>,
 <tr>
 <td>6
 </td>
 <td><a href="/wiki/Reyes_Holdings" title="Reyes Holdings">Reyes Holdings</a>
 </td>
 <td>Food, Drink &amp; Tobacco
 </td>
 <td style="text-align:center;">44
 </td>
 <td style="text-align:center;">36,000
 </td>
 <td><a href="/wiki/Rosemont,_Illinois" title="Rosemont, Illinois">Rosemont, Illinois</a>
 </td></tr>,
 <tr>
 <td>7
 </td>
 <td><a class="mw-redirect" href="/wiki/Enterprise_Mobility" title="Enterprise Mobility">Enterprise Mobility</a>
 </td>
 <td>Services
 </td>
 <td style="text-align:center;">38
 </td>
 <td style="text-align:center;">100,000
 </td>
 <td><a href="/wiki/Clayton,_Missouri" title="Clayton, Missouri">Clayton, Missouri</a>
 </td></tr>,
 <tr>
 <td>8
 </td>
 <td><a href="/wiki/Fidelity_Investments" title="Fidelity Investments">Fidelity Investments</a>
 </td>
 <td>Insurance
 </td>
 <td style="text-align:center;">32.7
 </td>
 <td style="text-align:center;">78,000
 </td>
 <td><a href="/wiki/Boston" title="Boston">Boston, Massachusetts</a>
 </td></tr>,
 <tr>
 <td>9
 </td>
 <td><a href="/wiki/Southern_Glazer%27s_Wine_and_Spirits" title="Southern Glazer's Wine and Spirits">Southern Glazer's Wine &amp; Spirits</a>
 </td>
 <td>Food, Drink &amp; Tobacco
 </td>
 <td style="text-align:center;">25
 </td>
 <td style="text-align:center;">24,000
 </td>
 <td><a href="/wiki/Miramar,_Florida" title="Miramar, Florida">Miramar, Florida</a>
 </td></tr>,
 <tr>
 <td>10
 </td>
 <td><a href="/wiki/Cox_Enterprises" title="Cox Enterprises">Cox Enterprises</a>
 </td>
 <td>Media
 </td>
 <td style="text-align:center;">23.5
 </td>
 <td style="text-align:center;">50,000
 </td>
 <td><a href="/wiki/Atlanta" title="Atlanta">Atlanta, Georgia</a>
 </td></tr>]

In [17]:
column_data = table.find_all('tr')

In [23]:
for row in column_data[1:]:
    row_data = row.find_all('td')
    individual_row_data =[data.text.strip() for data in row_data]

    length=len(df)
    df.loc[length] = individual_row_data

In [24]:
df

,Rank,Name,Industry,Revenue (USD billions),Employees,Headquarters
0,1,Cargill,Food industry,154,"155,000","Minnetonka, Minnesota"
1,2,Koch,Multicompany,125,"120,000","Wichita, Kansas"
2,3,Publix Super Markets,Food Markets,59.7,"260,000","Lakeland, Florida"
3,4,Mars,Food & Drink,55,"150,000","McLean, Virginia"
4,5,H-E-B Grocery Company,Food Markets,49.57,"175,000","San Antonio, Texas"
5,6,Reyes Holdings,"Food, Drink & Tobacco",44,"36,000","Rosemont, Illinois"
6,7,Enterprise Mobility,Services,38,"100,000","Clayton, Missouri"
7,8,Fidelity Investments,Insurance,32.7,"78,000","Boston, Massachusetts"
8,9,Southern Glazer's Wine & Spirits,"Food, Drink & Tobacco",25,"24,000","Miramar, Florida"
9,10,Cox Enterprises,Media,23.5,"50,000","Atlanta, Georgia"

In [28]:
df.to_csv(r'Documents',index = False)